<!DOCTYPE html>
<html>
    <head>
        <!-- 以block定義title區塊 -->
        {% block title %}{% endblock %}
    </head>
    <body>
        <!-- 以block定義content區塊 -->
        {% block content %} {% endblock %}
    </body>
</html>