{% extends 'base.html' %}
 
{% block title %}
<meta charset="utf-8">
<title>資料表新增(一)</title>
{% endblock %}
 
{% block content %}
    <h2>資料表新增(一)</h2>
     
    <form action="." method="POST" name="form1">   <!-- "."表示執行相同的url -->
        {% csrf_token %}     #CSRF防護請加在此
        <table border="1" cellpadding="1" cellspacing="4">
            <tr>
                <th>姓名</th>
                <td><input type="text" id="cName" name="cName" /></td>
            </tr>
            <tr>
                <th>姓別</th>
                <td>
                    <input type="radio" id="cSex1" name="cSex" value="M" checked="checked"/>男生
                    <input type="radio" id="cSex2" name="cSex" value="F"/>女生
                </td>
            </tr>
            <tr>
                <th>生日</th>
                <td><input type="text" id="cBirthday" name="cBirthday" /></td>
            </tr>
            <tr>
                <th>郵件帳號</th>
                <td><input type="text" id="cEmail" name="cEmail" /></td>
            </tr>
            <tr>
                <th>電話</th>
                <td><input type="text" id="cPhone" name="cPhone" /></td>
            </tr>
            <tr>
                <th>地址</th>
                <td><input type="text" id="cAddr" name="cAddr" /></td>
            </tr>
 
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出">
                    <input type="reset" name="button2" id="button2" value="重設">
            </tr>
        </table>
        <span style="color:red">{{message}}</span>
    </form>    
{% endblock %}