{% extends 'base.html' %}
 
{% block title %}
    <title>顯示所有資料</title>{% endblock %}
{% block content %}
    <h2 align="left">
        &nbsp;&nbsp;
       <a href="/post11/">留言</a>
   
    </h2>
    <table border="1" cellpadding="0" cellspacing="0">
        
        <th>姓名</th>
        <th>日期</th>
        <th>留言</th>
        {% for student in students %}   
        <tr>
            
            <td>{{student.cName}}  </td>
            <td>{{student.cBirthday}}  </td>
            <td>{{student.cAddr}}  </td>
        </tr>
        {% endfor %}
    </table>
 
 
 
{% endblock %}