<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>顯示所有資料</title>
</head>
<body>
    <h2>顯示 student資料表所有資料</h2>
 
    {% for student in students %}    
    編號: {{student.id}}  <br  />
    姓名: {{student.cName}}  <br  />
    内容: {{student.cAddr}}  <br  />
   <!-- 性別: {{student.cSex}}  <br  /> 
    生日: {{student.cBirthday}}  <br  />
    郵件帳號: {{student.cEmail}}  <br  />
    電話: {{student.cPhone}}  <br  />
    地址: {{student.cAddr}}  <br  /> -->
    <br  />
    {% endfor %}
</body>
</html>