{% extends 'base.html' %}
 
{% block title %}
<meta charset="utf-8">
<title>資料表新增(一)</title>
{% endblock %}
 
{% block content %}
    <h2>資料表新增(一)</h2>
     
    <form action="." method="POST" name="form1">   <!-- "."表示執行相同的url -->
        {% csrf_token %}     
        <table border="1" cellpadding="1" cellspacing="4">
            <tr>
                <th>姓名</th>
                <td><input type="text" id="cName" name="cName" /></td>
            </tr>
            <tr>
                <th>留言</th>
                <td><input type="text" id="cAddr" name="cAddr" /></td>
            </tr>
 
            <tr>
                <th colspan="2" align="center">
                    <input type="submit" name="button" id="button" value="送出">
                    <input type="reset" name="button2" id="button2" value="重設">
            </tr>
        </table>
        <span style="color:red">{{message}}</span>
    </form>    
{% endblock %}